.greeting {
  color: violet;
}

.app-container {
  border: 1px solid lightblue;
}

.todo {
  transition: font-size 2s ease-in-out;
}

.todo.new {
  font-size: 22px;
}

button[disabled] {
  background-color: red;
}